*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.logoimg{
    width: 50px;
    object-fit: cover;
}

.card-img-top{
    object-fit: cover;
}
.carouselimage{
    object-fit: cover;
}
